backup/*
.ipynb_checkpoints/*
results/veldists/SUF_backup/*
outputs/*
*pyc
SubmitVerne.sh.o*
SubmitVerne.sh.e*
\#*\#
results/veldists/f_lmx5.0_*

results/veldists/f_lmx5.0_lsig-29.4.txt

results/veldists/f_lmx5.0_lsig-29.6.txt

results/veldists/f_lmx5.0_lsig-29.8.txt

results/veldists/f_lmx5.0_lsig-30.0.txt

results/veldists/f_lmx5.0_lsig-30.4.txt

results/veldists/f_lmx5.0_lsig-30.2.txt

results/veldists/f_lmx5.0_lsig-30.6.txt
