altgraph==0.12
appdirs==1.4.3
appnope==0.1.0
astropy==1.2
backports==1.0
backports-abc==0.4
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
basemap==1.0.7
Beaker==1.7.0
bleach==2.0.0
brew==0.1.2
certifi==2016.9.26
configobj==5.0.6
configparser==3.5.0
cycler==0.10.0
Cython==0.23.2
decorator==4.0.10
emcee==2.1.0
entrypoints==0.2.2
enum34==1.1.6
functools32==3.2.3.post2
future==0.15.2
h5py==2.7.1
HARPy==0.2.0
healpy==1.8.1
html5lib==0.999999999
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.1.0
ipywidgets==7.0.0a3
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
libxml2-python==2.9.4
lxml==3.8.0
macholib==1.7
Mako==1.0.4
Markdown==2.6.8
MarkupSafe==0.23
matplotlib==1.5.3
mcint==0.1.dev5
mistune==0.7.4
modulegraph==0.12.1
monotonic==1.2
mpltools==0.2.0
mpmath==1.0.0
nbconvert==4.2.0
nbformat==4.3.0
nose==1.3.7
notebook==5.0.0
numpy==1.13.3
packaging==16.8
pandocfilters==1.4.1
pathlib2==2.1.0
pdftools.pdfposter==0.5.0
pexpect==4.2.1
pickleshare==0.7.4
progressbar==2.3
progressbar2==3.8.0
prompt-toolkit==1.0.7
ptyprocess==0.5.1
py2app==0.10
pycairo==1.10.0
pyfits==3.3
pygadgetic==0.1
pyGadgetReader==2.6
Pygments==2.1.3
pyobjc-core==3.0.4
pyobjc-framework-Cocoa==3.0.4
pyparsing==2.2.0
pyPdf==1.13
python-dateutil==2.6.1
python-ternary==1.0
python-utils==2.0.0
pytz==2017.3
pyzmq==16.0.2
qtconsole==4.3.0
readme2tex==0.0.1b2
scikit-monaco==0.3.dev0
scipy==0.18.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
subprocess32==3.2.7
swordfish==0.1
sympy==1.1.1
terminado==0.6
testpath==0.3.1
Tkinter==0.0.0
tornado==4.4.2
tqdm==4.7.4
traitlets==4.3.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.0a6
